.App {
  text-align: center;
}

.profile-main {
  margin-left: 5rem;
  margin-right: 5rem;
}

.profile-sub {
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  padding: 1rem;
}

.profile-user {
  display: flex;
}

.profile-user>div {
  padding: 0.1rem 2rem;
}

.profile-avatar>img {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 0;
}

.profile-avatar {
  border: 0;
}

.profile-truck {
  background-color: rgb(221, 221, 221);
  border-radius: 1rem;
  padding-left: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}
.profile-truck-text>p {
  padding-left: 1rem;
}

.profile-truck-image {
  width: 300px;
  border-radius: 0.5rem;
}

.profile-truck-edit-button {
  margin: 1rem;
}

.profile-truck-display {
  display: flex;
}



.profile-button {
  background-color: rgb(32,116,212);
  color: white;
  border-radius: 1rem;
  border: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.profile-edit-button {
  margin-right: 1rem;
}